html {
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: Viga;
	font-size: 18px;
}

body {
	background-color: #f3f2f2;
}

.navbar {
	z-index: 1;
}

hr {
	height:1px;
	border-width:0;
	color:gray;
	background-color:gray;
}

/* =============================================================================== */

/* home.php */
/* Navbar */
.navbar-brand {
	font-family: Viga;
	font-size: 32px;
}

.navbar-brand, .nav-link {
	color: rgb(46, 44, 150) !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar .tombol {
	margin-top: 15px;
}

/* Sample */
.sample {
	margin-top: 50px;
	text-align: center;
}

.sample h3 {
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}

.sample h3 span {
	font-weight: 500;
}

.sample p {
	font-size: 18px;
	color: rgb(69, 69, 223);
	font-weight: 200;
	margin: 30px 0;
}

.sample .btn {
	margin-bottom: 50px;
}

/* Jumbotron */
.jumbotron {
	text-align: center;
	height: 600px;
	margin-bottom: 100px;
}

.jumbotron h1 {
	font-family: Archivo Black;
	margin-top: 50px;
}

.jumbotron img {
	width: 75%;
}

.jumbotron p {
	color:  rgb(46, 44, 150);
	margin-top: 50px;
}
/* Jumbotron End */

/* Contact */
.contact {
	margin-top: 50px;
}

.contact .bg {
	background-color: rgb(69, 69, 223);
}

/* Footer */
.footer {
	font-family: Viga;
	margin-top: 30px;
	padding-top: 15px;
	background-color: rgb(69, 69, 223);
}

.footer p {
	color: #f3f2f2;
	font-size: 18px;
}
/* home.php End */

/* =============================================================================== */

/* index.php */
form {
	margin-top: 50px;
}

form .btn {
	margin-right: 10px;
}

.modal-body {
	margin-top: -40px;
}
/* index.php End */

/* =============================================================================== */

/* galery.php */

/* Detail */
.detail {
	background-size: 100%;
	height: 650px;
	text-align: center;
}

.detail img {
	width: 100%;
}

.detail .display-4 {
	color: rgb(39, 39, 39);
	font-size: 42px;
	text-transform: none;
	font-family: Viga;
}

.detail h5 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(69, 69, 223);
	margin-bottom: 25px;
}

.detail .tombol {
	margin-bottom: 20px;
}

.detail p {
	font-size: 20px;
	color: rgb(82, 81, 81);
	font-weight: 500;
	font-family: sans-serif;
}

.detail .footer p {
	color: #f3f2f2;
	font-size: 18px;
	font-family: Viga;
}
/* galery.php End */

/* =============================================================================== */

/* model.php */
/* Desc */
.desc .jumbotron {
	background-image: url(img/model_s/model-s.jpg);
	background-size: cover;
	text-align: center;
}

.desc .display-4 {
	color: #f3f2f2;
	font-size: 42px;
	text-transform: none;
	font-family: Viga;
}

.desc2 .jumbotron {
	background-image: url(img/model_3/model-3.jpg);
	background-size: cover;
	text-align: center;
}

.desc2 .display-4 {
	color: #f3f2f2;
	font-size: 42px;
	text-transform: none;
	font-family: Viga;
}

.desc3 .jumbotron {
	background-image: url(img/model_x/model-x.jpg);
	background-size: cover;
	text-align: center;
}

.desc3 .display-4 {
	color: #f3f2f2;
	font-size: 42px;
	text-transform: none;
	font-family: Viga;
}

/* Info Panel */
.info-panel {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -150px;
	margin-bottom: 100px;
	background-color: white;
	padding: 30px;
	text-align: center;
}

.info-panel img {
	margin-right: 20px;
}

.info-panel .tombol {
	margin-top: 10px;
}

/* model.php end */

/* =============================================================================== */

/* Utility */
.tombol {
	border: none;
	background-color: rgb(69, 69, 223);
	border-radius: 40px;
}

.btn-warning {
	border-radius: 40px;
	text-transform: uppercase;
}

.btn-danger {
	border-radius: 40px;
	text-transform: uppercase;
}

#btnTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(69, 69, 223);
	color: white;
	cursor: pointer;
	padding: 15px;
  }
  
#btnTop:hover {
	background-color: rgb(233, 190, 51);
}

#Button:hover {
	background-color: rgb(233, 190, 51);
}

/* =============================================================================== */

/* DESKTOP VERSION */
@media (min-width: 992px) {
	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.navbar-brand, .nav-link {
		color: rgb(46, 44, 150) !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid rgb(233, 190, 51);
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.tombol {
		text-transform: uppercase;
		border-radius: 40px;
	}

	.navbar .tombol {
		margin-top: 0px;
	}

	h1 {
		text-transform: uppercase;
	}

	.sample {
		text-align: left;
	}
}